@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

body {
    margin: 0px;
}

.current {
    color: rgb(245, 0, 87);
    font-weight: 600;
    font-size: 1.4em;
}